@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height:100vh;
    position: relative;
}
#telefone{
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat center;  
}
#home{
    position: absolute;
    height: 488px;
    width: 269px;
    top: 66px;
    left: 21px;
    background: url('../imagens/home.png') no-repeat center;
    background-size: cover;
}
section#redes-social{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    gap: 6px;   
}
section#redes-social img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;      
}
section#redes-social img:hover{
    transform: scale(1.2);
    transition: 0.2s;
    border: 2px solid #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #fff;
      
}
